<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css"
        />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js">
                                                                
        </script>
        <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js">
                                                                
        </script>
        <script src="/socket.io/socket.io.js">
                                                                
        </script>
        <script>
                $(document).bind('mobileinit', function()
        {
            $.mobile.selectmenu.prototype.options.nativeMenu = false;
        });
        $(document).ready(function()
        {
            $("#d_sync").click(function()
            {
                // 변수를 선언합니다.
                var socket = io.connect();
                socket.emit('device_sync', {
                    now: 'device_sync'
                });
                // 소켓 이벤트를 연결합니다.
                socket.on('status_receive', function(data)
                {
                    //console.log(data);
                    for (var i in data)
                    {
                        // 변수를 선언합니다.
                        var device = data[i].iddevice;
                        var status = data[i].status;

                        // 문서 객체를 추가합니다.
                        var output = '';
                        output += '<h3>Device: ' + device + '</h3>';
                        output += '<p>Status : ' + status + '</p>';
                        $('<li></li>').append(output).prependTo('#status_listview');
                        // 문서 객체 개수 제한합니다.
                        //            var content = $('#status_listview');
                        //            if (content.children().length > 4)
                        //            {
                        //                content.children().last().remove();
                        //            }
                    }
                    // 리스트뷰를 새로고침합니다.
                    $('#status_listview').listview('refresh');
                });

                // 소켓 이벤트를 연결합니다.
                socket.on('drill_receive', function(data)
                {
                    //console.log(data);
                    for (var i in data)
                    {
                        var id = data[i].iddrill;
                        var name = data[i].name;

                        var output = '';
                        output += '<option value="' + id + '">' + name + '</option>';
                        $('#select-drill-1').append(output);
                    }


                });
            });

            $("#d_reset").click(function()
            {
                // 변수를 선언합니다.
                var socket = io.connect();
                socket.emit('device_reset', {
                    now: 'device_reset'
                });

                $('#status_listview').empty();
            });


            $("#select-drill-1").click(function()
            {
                if ($("#select-drill-1 option:selected").val())
                {
                    $('#drill_set').removeClass('ui-disabled');
                }
            });

            $("#drill_set").click(function()
            {
                // 변수를 선언합니다.
                var socket = io.connect();
                socket.emit('drill_set', {
                    iddrill: $("#select-drill-1 option:selected").val()

                    // 소켓 이벤트를 연결합니다.
                });
                socket.on('start_measure', function(data)
                {
                    console.log("MEASURE STARTED");
                });
                socket.on('end_measure', function(data)
                {
                    console.log("RESULT SET");
                });

                socket.on('sync_updated', function(data)
                {

                    var iddrill = data.iddrill;
                    var iddevice = data.iddevice;
                    var offset = data.offset;
                    // 문서 객체를 추가합니다.
                    var output = '';
                    output += '<h3>Device ID: ' + iddevice + '</h3>';
                    output += '<p>offset: ' + offset + '</p>';
                    $('<li></li>').append(output).prependTo('#result_sync');

                    // 문서 객체 개수 제한합니다.
                    var content = $('#result_sync');
                    if (content.children().length > 4)
                    {
                        content.children().last().remove();
                    }

                    // 리스트뷰를 새로고침합니다.
                    $('#result_sync').listview('refresh');
                });

                socket.on('result_receive', function(data)
                {
                    //console.log("RESULT_RECEIVED");
                    //console.log(data);
                    for (var i in data)
                    {
                        // 변수를 선언합니다.
                        var iddevice = data[i].iddevice;
                        var sensor_type = data[i].sensor_type;
                        var d = data[i].data;
                        var at = new Date(data[i].at);

                        // 문서 객체를 추가합니다.
                        var output = '';
                        output += '<h3>Device ID: ' + iddevice + '</h3>';
                        output += '<p>Sensor: ' + sensor_type + '</p>';
                        output += '<p>Data: ' + d + '</p>';
                        output += '<p>At : ' + at + '</p>';
                        $('<li></li>').append(output).prependTo('#result_listview');
                    }
                    // 문서 객체 개수 제한합니다.
                    var content = $('#result_listview');
                    if (content.children().length > 7)
                    {
                        content.children().last().remove();
                    }

                    // 리스트뷰를 새로고침합니다.
                    $('#result_listview').listview('refresh');


                });
            });
        });
/*
setInterval(function(){var socket = io.connect();
        socket.emit('device_sync', {
            now: 'device_sync'
        });}, 5000);*/
        </script>
    </head>
    <body>
        <!-- 아이디 등록 페이지 -->
        <div data-role="page">
            <div data-role="header">
                <h1>
                    Lepl M System Control
                </h1>
            </div>
            <div class="ui-bar ui-bar-e">
                <h3>
                    This is an alert message.
                </h3>
                <p style="font-size:85%; margin:-.3em 0 1em;">
                    And here's some additional text in a paragraph.
                </p>
            </div>
            <ul data-role="content">
                <li>
                    <a href="./enroll" data-role="button">
                        Enroll
                    </a>
                </li>
                <li>
                    <a href="#resetPage" data-rel="dialog" data-role="button">
                        Device Reset
                    </a>
                </li>
                <li>
                    <a href="#drill" id="d_sync" data-role="button">
                        Device Sync
                    </a>
                </li>
            </ul>
        </div>

        <div data-role="page" id="resetPage">
            <div data-role="header">
                <h2>
                    Reset
                </h2>
            </div>
            <div role="content" class="ui-content">
                <h3>
                    Reset All devices?
                </h3>
                <a href="#" id="d_reset" data-role="button" data-rel="back">
                    Device Reset
                </a>
            </div>
        </div>

        <!-- 추적 페이지 -->
        <div data-role="page" id="drill" data-add-back-btn="true">
            <div data-role="header">
                <h1>
                    Drill
                </h1>
                <a href="#" data-icon="gear" class="ui-btn-right">
                    Options
                </a>
            </div>
            <div data-role="content">
                <ul id="status_listview" data-role="listview" data-split-icon="gear" data-split-theme="d"
                data-inset="true">
                </ul>
                <form>
                    <div data-role="fieldcontain">
                        <label for="select-drill-1">
                            Drill:
                        </label>
                        <select name="select-drill-1" id="select-drill-1">
                            <option disabled="disabled">
                                Select Drill
                            </option>
                        </select>
                    </div>
                </form>
                <a href="#setdrill" class="ui-disabled" id="drill_set" data-role="button">
                    Drill Start
                </a>
            </div>
        </div>
        <!-- 추적 페이지 -->
        <div data-role="page" id="setdrill" data-add-back-btn="true">
            <div data-role="header">
                <h1>
                    DRILL RESULT
                </h1>
            </div>
            <div data-role="content_result">
                <ul id="result_sync" data-role="listview" data-inset="true">
                </ul>
                <ul id="result_listview" data-role="listview" data-inset="true">
                </ul>
            </div>
        </div>
    </body>

</html>